[viewBag]
==
<div class="lt-row row">
<div class="lt-col col s12">
<div class="lt-parallax-header parallax-container" style="height: 400px;">
<div class="lt-parallax parallax"><img src="{{ '../../../../storage/app/media/works/about.jpg'|theme }}" alt="image" /></div>
<div class="lt-parallax-content">
<div class="valign-wrapper" style="height: 400px;">
<div class="valign">
<h2 class="lt-title">{{ '68.- about:header:About Us: '|_ }} W.K. Interior Design</h2>
<p class="lt-subtitle flow-text">{{ '69.- about:header:Who We Are'|_ }} </p>
</div>
</div>
</div>
</div>
</div>
</div>
