<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">{{ '70.- about:mainpage:What We Do'|_ }}</h2>
      <p class="flow-text">{{ '71.- about:mainpage:Text About what the company do.'|_ }}</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-display1 primary-color-text"></i>
      <h5>{{ '72.- about:mainpage:Design'|_ }}</h5>
      <p>{{ '73.- about:mainpage:Text About design.'|_ }}</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-tools primary-color-text"></i>
      <h5>{{ '74.- about:mainpage:Build'|_ }}</h5>
      <p>{{ '75.- about:mainpage:Text About build.'|_ }}</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-news-paper primary-color-text"></i>
      <h5>{{ '76.- about:mainpage:Advice'|_ }}</h5>
      <p>{{ '77.- about:mainpage:Text About Advice.'|_ }}</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">{{ '78.- about:mainpage:Our Office'|_ }}</h2>
      <p class="flow-text">{{ '79.- about:mainpage:Text About Our Office'|_ }}</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-01.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-02.jpg'|theme }}">
    </div>
  </div>

  <div class="hide-on-small-only" style="height: 20px;"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-03.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-04.jpg'|theme }}">
    </div>
  </div>
</div>
