<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">{{ '52.- portfolio:mainpage:What We Did'|_ }}</h2>
      <p class="flow-text">{{ '53.- portfolio:mainpage:What We Did Text'|_ }}</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>


</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">{{ '54.- portfolio:mainpage:Our Projects'|_ }}</h2>
      <p class="flow-text">{{ '55.- portfolio:mainpage:Our Projects Text'|_ }}</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ '../../../../storage/app/media/works/1.jpg'|theme }}">
        <span class="card-title">{{ '56.- portfolio:mainpage:Textures'|_ }}</span>
      </div>
      <div class="card-content">
        <p>{{ '57.- portfolio:mainpage:Textures Text'|_ }}</p>
      </div>

    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ '../../../../storage/app/media/works/2.jpg'|theme }}">
        <span class="card-title">{{ '58.- portfolio:mainpage:Patterns'|_ }}</span>
      </div>
      <div class="card-content">
        <p>{{ '59.- portfolio:mainpage:Patterns Text'|_ }}</p>
      </div>

    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ '../../../../storage/app/media/works/3.jpg'|theme }}">
        <span class="card-title">{{ '60.- portfolio:mainpage:Colors'|_ }}</span>
      </div>
      <div class="card-content">
        <p>{{ '61.- portfolio:mainpage:Colors Text'|_ }}</p>
      </div>

    </div>
  </div>
</div>

<div class="hide-on-small-only" style="height: 20px;"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ '../../../../storage/app/media/works/4.jpg'|theme }}">
        <span class="card-title">{{ '62.- portfolio:mainpage:Accesories'|_ }}</span>
      </div>
      <div class="card-content">
        <p>{{ '63.- portfolio:mainpage:Accesories Text'|_ }}</p>
      </div>

    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ '../../../../storage/app/media/works/5.jpg'|theme }}">
        <span class="card-title">{{ '64.- portfolio:mainpage:Furniture'|_ }}</span>
      </div>
      <div class="card-content">
        <p>{{ '65.- portfolio:mainpage:Furniture Text'|_ }}</p>
      </div>

    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ '../../../../storage/app/media/works/6.jpg'|theme }}">
        <span class="card-title">{{ '66.- portfolio:mainpage:Kitchens'|_ }}</span>
      </div>
      <div class="card-content">
        <p>{{ '67.- portfolio:mainpage:Kitchens Text'|_ }}</p>
      </div>
      
    </div>
  </div>
</div>
