[viewBag]
==
<div class="lt-row row">
    <div class="lt-col col s8">
        <h2 class="lt-title center">Who We Are</h2>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="lt-col col l3 m6 s4">
        <div class="lt-card card z-depth-0 center">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="/backend/{{ 'assets/img/pages/home/bottom/img-01.jpg'|theme }}" /></div>
            <div class="card-content"><span class="lt-card-title card-title activator grey-text text-darken-4">Wendy Arias</span>
                <p class="lt-card-subtitle">Founder &amp; CEO</p>
                <p class="lt-card-social-buttons">&nbsp;</p>
            </div>
            <div class="card-reveal"><span class="lt-card-title card-title grey-text text-darken-4">Tom Doe<em class="material-icons right">close</em></span>
                <p>Here is some more info about this person that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

</div>
