[viewBag]
==
<div class="lt-row row">
    <div class="lt-col col s8">
        <h2 class="lt-title center">{{ '35.- home:botton:Who We Are'|_ }}</h2>
        <p class="center">{{ '36.- home:botton:Who We Are Text'|_ }}</p>
    </div>

    <div class="lt-col col l3 m6 s4">
        <div class="lt-card card z-depth-0 center">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="/backend/{{ 'assets/img/pages/home/bottom/img-01.jpg'|theme }}" /></div>
            <div class="card-content"><span class="lt-card-title card-title activator grey-text text-darken-4">{{ '37.- home:botton:TeamMemberName'|_ }}</span>
                <p class="lt-card-subtitle">{{ '38.- home:botton:Founder & CEO'|_ }}</p>
                <p class="lt-card-social-buttons">&nbsp;</p>
            </div>
            <div class="card-reveal"><span class="lt-card-title card-title grey-text text-darken-4">{{ '37.- home:botton:TeamMemberInfoName'|_ }}<em class="material-icons right">close</em></span>
                <p>{{ '39.- home:botton:TeamMemberInfo'|_ }}</p>
            </div>
        </div>
    </div>

</div>
