<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">{{ '07.- home:feature:Features'|_ }}</h2>
      <p class="flow-text">{{ '08.- home:feature:Features Text'|_ }}</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-edit primary-color-text"></i>
      <h5>{{ '09.- home:feature:Customizable'|_ }}</h5>
      <p>{{ '10.- home:feature:Customizable Text'|_ }}</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-science primary-color-text"></i>
      <h5>{{ '11.- home:feature:Modern'|_ }}</h5>
      <p>{{ '12.- home:feature:Modern Text'|_ }}</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-exapnd2 primary-color-text"></i>
      <h5>{{ '13.- home:feature:Clean'|_ }}</h5>
      <p>{{ '14.- home:feature:Clean Text'|_ }}</p>
    </div>
  </div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-ribbon primary-color-text"></i>
      <h5>{{ '15.- home:feature:Stylish'|_ }}</h5>
      <p>{{ '16.- home:feature:Stylish Text'|_ }}</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-like2 primary-color-text"></i>
      <h5>{{ '17.- home:feature:Support'|_ }}</h5>
      <p>{{ '18.- home:feature:Support Text'|_ }}</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-note2 primary-color-text"></i>
      <h5>{{ '19.- home:feature:Skilled'|_ }}</h5>
      <p>{{ '20.- home:feature:Skilled Text'|_ }}</p>
    </div>
  </div>
</div>
