[viewBag]
==
<div class="lt-row row">
<div class="lt-col col s12">
<div class="lt-slider slider fullscreen">
<ul class="slides">
<li><img src="{{'../../../../storage/app/media/works/sld1.jpg'|theme }}" alt="image" />
<div class="caption center-align">
<h2 class="lt-slider-title">Classic and Modern Design</h2>
<h5 class="lt-slider-subtitle">with Best materials & experience</h5>
<!-- <div class="lt-slider-button"><a class="waves-effect waves-light btn-large primary-color-background" href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank">Download<em class="material-icons right">input</em></a></div> -->
<!-- <div class="lt-slider-links"><a href="https://m.do.co/c/396efaba7c20" target="_blank">View Server</a> or <a href="https://www.laratify.com/" target="_blank">Contact Us</a></div> -->
</div>
</li>
<li><img src="{{'../../../../storage/app/media/works/sld2.jpg'|theme }}" alt="image" />
<div class="caption center-align">
<h2 class="lt-slider-title">Clean interior spaces</h2>
<h5 class="lt-slider-subtitle">For office and home</h5>
<!-- <div class="lt-slider-button"><a class="waves-effect waves-light btn-large primary-color-background" href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank">Download<em class="material-icons right">input</em></a></div> -->
<!-- <div class="lt-slider-links"><a href="https://m.do.co/c/396efaba7c20" target="_blank">View Server</a> or <a href="https://www.laratify.com/" target="_blank">Contact Us</a></div> -->
</div>
</li>
<li><img src="{{'../../../../storage/app/media/works/sld3.jpg'|theme }}" alt="image" />
<div class="caption center-align">
<h2 class="lt-slider-title">Great Ideas for your spaces</h2>
<h5 class="lt-slider-subtitle">Sky is the Limit</h5>
<!-- <div class="lt-slider-button"><a class="waves-effect waves-light btn-large primary-color-background" href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank">Download<em class="material-icons right">input</em></a></div> -->
<!-- <div class="lt-slider-links"><a href="https://m.do.co/c/396efaba7c20" target="_blank">View Server</a> or <a href="https://www.laratify.com/" target="_blank">Contact Us</a></div> -->
</div>
</li>
</ul>
</div>
</div>
</div>
